<div class="card">
  <div class="card-body">
    <form action="/admin/diarias/lancar" id="form-lancar-diarias" method="POST">
      <h4 class="text-center">{{obras.nomeObra}}</h4>
      <input type="hidden" value="{{obras._id}}" name="idObra">
      <small></small>
      <div class="table-responsive">
        <table class="table table-striped table-hover">

          <thead class="bg-dark text-light">
            <tr>
              <th scope="col">Funcionário</th>
              <th scope="col">Segunda</th>
              <th scope="col">Terça</th>
              <th scope="col">Quarta</th>
              <th scope="col">Quinta</th>
              <th scope="col">Sexta</th>
              <th scope="col">Sábado</th>
              <th scope="col">Domingo</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {{#each escalacoes}}
            <tr>
              <th scope="row">{{categoria.nome}}: <small><br>{{categoria.funcao}} R$ {{categoria.salario}}</small>
              </th>

              <input type="hidden" value="{{categoria.nome}}" name="nome">
              <input type="hidden" value="{{_id}}" name="idEscalacao-{{ categoria._id }}">
              <input type="hidden" value="{{categoria.salario}}" name="salario-{{ categoria._id }}">
              <input type="hidden" value="{{categoria._id}}" name="idCategoria">

              <td>
                <div class="form-check">
                  <label for="{{_id}}">Manhã</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkSegundaM" {{checkSegundaM}}>
                </div>

                <div class="form-check">
                  <label for="{{_id}}">Tarde</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkSegundaT" {{checkSegundaT}}>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label for="{{_id}}">Manhã</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkTercaM" {{checkTercaM}}>

                </div>
                <div class="form-check">
                  <label for="{{_id}}">Tarde</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkTercaT" {{checkTercaT}}>

                </div>
              </td>


              <td>
                <div class="form-check">
                  <label for="{{_id}}">Manhã</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkQuartaM" {{checkQuartaM}}>

                </div>
                <div class="form-check">
                  <label for="{{_id}}">Tarde</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkQuartaT" {{checkQuartaT}}>

                </div>
              </td>
              <td>
                <div class="form-check">
                  <label for="{{_id}}">Manhã</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkQuintaM" {{checkQuintaM}}>

                </div>
                <div class="form-check">
                  <label for="{{_id}}">Tarde</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkQuintaT" {{checkQuintaT}}>

                </div>
              </td>
              <td>
                <div class="form-check">
                  <label for="{{_id}}">Manhã</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkSextaM" {{checkSextaM}}>

                </div>
                <div class="form-check">
                  <label for="{{_id}}">Tarde</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkSextaT" {{checkSextaT}}>

                </div>
              </td>
              <td>
                <div class="form-check">
                  <label for="{{_id}}">Manhã</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkSabadoM" {{checkSabadoM}}>

                </div>
                <div class="form-check">
                  <label for="{{_id}}">Tarde</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkSabadoT" {{checkSabadoT}}>

                </div>
              </td>
              <td>
                <div class="form-check">
                  <label for="{{_id}}">Manhã</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkDomingoM" {{checkDomingoM}}>

                </div>
                <div class="form-check">
                  <label for="{{_id}}">Tarde</label>
                  <input type="checkbox" name="diarias-{{categoria._id}}" id="{{_id}}" salario="{{ categoria.salario }}" categoria-id="{{ categoria._id }}" class="form-check-input" value="checkDomingoT" {{checkDomingoT}}>

                </div>
              </td>


              <td>
                <input type="hidden" value="{{categoria.salario}}" name="salario">
                R$ <span id="total-{{categoria._id}}">{{total}}</span>
              </td>
              {{else}}
              {{/each}}
          </tbody>
          <tfoot>
            <tr>
              <th scope="row">Total Geral:</th>
              <td>


                R$ <span id="total-geral">{{semanas.total}}</span>


              </td>
            </tr>
          </tfoot>
        </table>

      </div>
      <button type="submit" class="btn btn-success ">Lançar Diarias</button>
      <a id="form-diarias-limpar" class="btn btn-danger">Limpar Diarias</a>
      <a id="form-diarias-seg-sext" class="btn btn-success">Preencher Seg-Sex</a>
      <a class="btn btn-dark" href="/admin/fecharsemana/{{semanas._id}}">Fechar Semana</a>
    </form>
  </div>
</div>

<script>
  let ElValorTotal = document.querySelector('#total-geral');

  function atualizarDiarias(categoriaId, valor, operacao) {
    let el = document.querySelector(`#total-${categoriaId}`);
    let valorAtual = parseFloat(el.textContent);
    let valorTotal = parseFloat(ElValorTotal.textContent);

    if (operacao == "adicionar") {
      el.textContent = String(valorAtual + valor)
      ElValorTotal.textContent = String(valorTotal + valor)
    } else {
      el.textContent = String(valorAtual - valor)
      ElValorTotal.textContent = String(valorTotal - valor)
    }
  }

  const inputs = document.getElementsByName("idCategoria");
  let funcionarios = []

  Array.from(inputs).map(input => {
    funcionarios.push(input.value);
  })

  let checkbox = document.querySelectorAll('.form-check-input')

  Array.from(checkbox).map(checkbox => {
    checkbox.addEventListener('click', function () {
      const categoriaId = this.getAttribute("categoria-id");
      const meiaDiaria = (parseFloat(this.getAttribute("salario")) / 2)

      if (this.checked) {
        atualizarDiarias(categoriaId, meiaDiaria, "adicionar");
      } else {
        atualizarDiarias(categoriaId, meiaDiaria, "remover");
      }

    }, false);
  })
  //seta todos checkbox para false
  document.getElementById('form-diarias-limpar').addEventListener('click', (l) => {
    l.preventDefault();
    Array.from(checkbox).map(checkbox => {
      checkbox.checked = false;
    })
  })
  //seta todos checkbox de segunda a sexta para true
  document.getElementById('form-diarias-seg-sext').addEventListener('click', (l) => {
    l.preventDefault();
    Array.from(checkbox).map(checkbox => {

      if ((checkbox.value == "checkSabadoM") || (checkbox.value == "checkSabadoT") ||
        (checkbox.value == "checkDomingoM") || (checkbox.value == "checkDomingoT")) {
        checkbox.checked = false;
      } else {
        checkbox.checked = true;
      }
    })
  })

  document.getElementById('form-lancar-diarias').addEventListener('submit', (e) => {
    e.preventDefault();

    let data = []
    funcionarios.map(funcionario => {
      let checkboxs = document.querySelectorAll(`[name="diarias-${funcionario}"]`)
      let idEscalacao = document.querySelector(`[name="idEscalacao-${funcionario}"]`).value;
      let salario = document.querySelector(`[name="salario-${funcionario}"]`).value;
      let idObra = document.querySelector('[name="idObra"]').value;

      console.log(idEscalacao)

      let diariasObj = {}
      let diarias = {}
      let qtdDiarias = 0
      Array.from(checkboxs).map(checkbox => {
        const name = checkbox.getAttribute("name");

        if (checkbox.checked) {
          diarias[`${checkbox.value}`] = 'checked'
          qtdDiarias += 0.5
        } else {
          diarias[`${checkbox.value}`] = 'unchecked'
        }
      })
      diariasObj['diarias'] = diarias
      diariasObj['funcionario'] = funcionario
      diariasObj['idEscalacao'] = idEscalacao
      diariasObj['idObra'] = idObra
      diariasObj['qtdDiarias'] = qtdDiarias
      diariasObj['salario'] = parseFloat(salario)
      data.push(diariasObj);
    })

    // Fazendo a requisição pro server

    let headers = new Headers();
    headers.append('Content-Type', 'Application/json');

    const req = new Request('/admin/diarias/lancar', {
      method: 'POST',
      body: JSON.stringify(data),
      headers: headers
    });

    fetch(req)
      .then(response => {
        if (response.status === 200) {
          return response.json();
        } else {
          throw new Error('Ops! Houve um erro em nosso servidor.');
        }
      })
      .then(response => {
        window.location.href = response.redirect
      }).catch(error => {
        console.error(error);
      });
  });
</script>