<h4>Obra Selecionada: {{obras.nomeObra}}</h4>
<div class="card">
  <div class="card-body">
    <form action="/admin/postagens/escalar/funcionario" method="POST">

      <h6>Escale o Funcionário: </h6>
      <select name="categoria" class="custom-select">
        {{#each categorias}}

        <option value="{{_id}}">{{nome}}</option>

        {{else}}
        <option value="">Nenhum funcionario cadastrado</option>
        {{/each}}

      </select>
      <input type="hidden" value="{{obras._id}}" name="id">
      <button class="btn btn-success" type="submit">Adicionar</button>
      <br><br>
    </form>
  </div>